input{
    border-radius: 3px;
    border: 3px solid blue;
    background-color: aqua;
}
.inputcolor{
    background-color: bisque;
}

#contraseña{
    background-color: blueviolet;
    color: beige;
}